.text-poppins {
  font-family: "Poppins", sans-serif;
}
.text-mono {
  font-family: "Roboto Mono", sans-serif;
}
.text-roboto {
  font-family: "Roboto", sans-serif;
}
.text-slab {
  font-family: "Roboto Slab", sans-serif;
}
.text-dancing {
  font-family: "Dancing Script", cursive;
}
.text-abril {
  font-family: "Abril Fatface", cursive;
}
.text-dm {
  font-family: "DM Sans", sans-serif;
}
